<!-- FOOTER DESKTOP (zichtbaar vanaf md en groter) -->
<footer class="footer text-white pt-4 d-none d-md-block">
  <div class="container bigfooter">
    <hr class="footer-line mb-4">

    <div class="row align-items-start justify-content-between">
      <!-- Logo -->
      <div class="col-md-4 mb-3 mb-md-0 text-center text-md-start">
        <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start">
          <div class="mb-4 me-md-3">
            <img src="/images/BlanckMedia-Logo-1Line.png" alt="BlanckMedia Logo" class="img-fluid" style="max-height: 45px;">
          </div>
        </div>
        <div>
          <p>Kaleshoek 9, 8210 Zedelgem <br> BTW: BE1024225275</p>
        </div>
      </div>

      <!-- Nav Links -->
      <div class="d-flex flex-column align-items-start mx-auto mb-3 mb-md-0" style="width:auto;">
        <h3 class="textlinks">CONTENTS</h3>
        <ul class="nav-links list-unstyled mb-0 text-start">
          <li class="my-1"><a href="/" class="text-white text-decoration-none responsive-small-text">Home</a></li>
          <li class="my-1"><a href="/projects" class="text-white text-decoration-none responsive-small-text">Projects</a></li>
          <li class="my-1"><a href="/about" class="text-white text-decoration-none responsive-small-text">About us</a></li>
          <li class="my-1"><a href="/contact" class="text-white text-decoration-none responsive-small-text">Contact us</a></li>
        </ul>
      </div>

      <!-- Social icons + button -->
      <div class="col-md-4 d-flex flex-column align-items-end mb-3 mb-md-0 text-center">
        <div class="align-items-center" style="width: 218px;">
          <!-- Social icons -->
          <div class="social-icons mb-3 d-flex justify-content-center">
            <a href="https://www.facebook.com/BlanckMediaproduction" target="_blank" class="mx-2"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.youtube.com/@BlanckMedia25" target="_blank" class="mx-2"><i class="fab fa-youtube"></i></a>
            <a href="https://www.instagram.com/blanckmedia.be/" target="_blank" class="mx-2"><i class="fab fa-instagram"></i></a>
          </div>

          <!-- Vector logo -->
          <div class="mb-5">
            <img src="/images/Vector.png" alt="BlanckMedia Logo" class="img-fluid" style="max-height: 60px;">
          </div>

          <!-- Contact button -->
          <a href="/contact" class="btn btn-accent-color fw-bold px-4 w-100">
            Contact Us
          </a>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="row mt-4 mb-4">
      <div class="col text-center">
        <small class="text-white mb-2 mb-md-0 me-md-3">
          © 2025 BlanckMedia All Rights Reserved <br>
          <a href="/privacybeleid" class="accent-color text-decoration-none me-2">Privacybeleid</a> –
          <a href="/cookie-policy" class="accent-color text-decoration-none mx-2">Cookie policy</a> –
          <a href="/disclaimer" class="accent-color text-decoration-none ms-2">Disclaimer</a>
        </small>
      </div>
    </div>
  </div>
</footer>


<!-- FOOTER MOBILE (zichtbaar enkel op smartphone) -->
<footer class="footer text-white pt-4 d-block d-md-none">
<div class="container py-5">
  <div class="row align-items-start">
    <!-- Linker kolom -->
<div class="col-7 ps-4">
  <img src="images/BlanckMedia-logo.png" alt="Logo" class="mb-3" style="max-width: 130px;">

  <div class="info-block">
    <p class="small-text">Kaleshoek 9, <br> 8210 Zedelgem<br>BTW: BE1024225275</p>
    <a href="/contact" class="btn-thin btn-accent-color mb-3">Contact Us</a>
  </div>

  <div class="social-icons mt-3 d-flex justify-content-start">
    <a href="https://www.facebook.com/BlanckMediaproduction" target="_blank" class="mx-2"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.youtube.com/@BlanckMedia25" target="_blank" class="mx-2"><i class="fab fa-youtube"></i></a>
    <a href="https://www.instagram.com/blanckmedia.be/" target="_blank" class="mx-2"><i class="fab fa-instagram"></i></a>
  </div>
</div>



    <!-- Rechter kolom -->
    <div class="col-5">
      <h5 class="fw-bold mb-footer footertitel">CONTENTS</h5>
      <ul class="list-unstyled">
        <li class="mb-2"><a href="/" class="text-white text-decoration-none small-text">HOME</a></li>
        <li class="mb-2"><a href="/projects" class="text-white text-decoration-none small-text">PROJECTS</a></li>
        <li class="mb-2"><a href="/about" class="text-white text-decoration-none small-text ">ABOUT US</a></li>
        <li class="mb-2"><a href="/contact" class="text-white text-decoration-none small-text ">CONTACT US</a></li>
      </ul>
    </div>
  </div>
</div>



  <div class="container text-center mt-3 mb-3">
    <small class="text-white">
      © 2025 All Rights Reserved <br>
      <a href="/privacybeleid" class="accent-color text-decoration-none me-2">Privacybeleid</a> – 
      <a href="/cookie-policy" class="accent-color text-decoration-none mx-2">Cookie policy</a> – 
      <a href="/disclaimer" class="accent-color text-decoration-none ms-2">Disclaimer</a>
    </small>
  </div>
</footer>

