<nav class="navbar navbar-expand-lg navbar-transparent">
  <div class="navbar-inner d-flex justify-content-between align-items-center w-100">
    <!-- Logo -->
    <a class="navbar-brand" href="/">
      <img src="/images/BlanckMedia-logo.png" alt="Logo" height="40">
    </a>

    <a class="navbar-brand-mobile" href="/">
      <img src="/images/BlanckMedia-SmallLogo.png" alt="Logo" height="40">
    </a>

    <!-- Hamburger toggle -->
    <button class="navbar-toggler custom-toggler d-lg-none" type="button" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <!-- Desktop links -->
    <div class="collapse navbar-collapse d-none d-lg-flex justify-content-end">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link fs-6" href="/projects">PROJECTS</a></li>
        <li class="nav-item"><a class="nav-link fs-6" href="/about">ABOUT US</a></li>
        <li class="nav-item"><a class="nav-link fs-6" href="/contact">CONTACT</a></li>
      </ul>
    </div>

    <!-- Fullscreen overlay mobiel -->
    <div class="navbar-overlay d-lg-none">
      <ul class="navbar-nav text-center">
        <li class="nav-item"><a class="nav-link fs-3" href="/projects">PROJECTS</a></li>
        <li class="nav-item"><a class="nav-link fs-3" href="/about">ABOUT US</a></li>
        <li class="nav-item"><a class="nav-link fs-3" href="/contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>
