<nav class="navbar navbar-expand-lg navbar-dark bg-transparent position-absolute top-0 w-100">
  <div class="container">
<a class="navbar-brand {{#if (eq activePage 'home')}}active-home{{/if}}" href="/">
  <img src="/assets/logos/{{#if (eq activePage 'home')}}BlanckDark{{else}}BlanckWhite{{/if}}.png" alt="BLANCK Media logo" height="30">
</a>

<div id="menuToggle" class="d-lg-none position-relative z-1050"
     style="width: 60px; height: 40px; cursor: pointer; padding-left: 15px; padding-right: 15px;">
  <div id="clapperTop" style="width: 100%; height: 6px; background: rgb(233, 233, 233); transform-origin: left center; border-radius: 2px;"></div>
  <div id="clapperBottom" style="width: 100%; height: 20px; background: rgb(14, 14, 14); margin-top: 5px; border-radius: 2px;"></div>
</div>


    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item {{#if (eq activePage 'projects')}}active{{/if}}">
          <a class="nav-link text-white {{#if (eq activePage 'projects')}}blacklink{{/if}}" href="/projects">Projects</a>
        </li>
        <li class="nav-item {{#if (eq activePage 'overons')}}active{{/if}}">
          <a class="nav-link text-white {{#if (eq activePage 'overons')}}blacklink{{/if}}" href="#">Over ons</a>
        </li>
        <li class="nav-item {{#if (eq activePage 'contact')}}active{{/if}}">
          <a class="nav-link text-white {{#if (eq activePage 'contact')}}blacklink{{/if}}" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
