<nav class="navbar navbar-expand-lg navbar-transparent ">
  <div class="container">
    <!-- Logo links -->
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" alt="Logo" height="50">
    </a>

    <!-- Hamburger toggle - alleen zichtbaar op kleinere schermen -->
    <button class="navbar-toggler custom-toggler d-lg-none" type="button" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse d-none d-lg-flex justify-content-end">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link fs-5" href="/projects">PROJECTS</a></li>
        <li class="nav-item"><a class="nav-link fs-5" href="/about">ABOUT US</a></li>
        <li class="nav-item"><a class="nav-link fs-5" href="/contact">CONTACT</a></li>
      </ul>
    </div>

    <!-- Fullscreen overlay voor mobiel -->
    <div class="navbar-overlay d-lg-none">
      <ul class="navbar-nav text-center">
        <li class="nav-item"><a class="nav-link fs-3" href="/projects">PROJECTS</a></li>
        <li class="nav-item"><a class="nav-link fs-3" href="/about">ABOUT US</a></li>
        <li class="nav-item"><a class="nav-link fs-3" href="/contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>
