<section>
 <div class="page-header page-header--no-image page-header--contact mb-5">
    <div class="container">
      <div class="page-header__content page-header__content--left">
        <h1 class="page-header__title page-header__title--left">CAREERS</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container mb-9">
    <div class="careers-jobs-container">
      <!-- Job 1 -->
      <div class="job-card">
        <div class="job-card__header">
          <h3 class="job-card__title">Creative Editor</h3>
        </div>
        <div class="job-card__content">
          <p class="job-card__description">
            An experienced storyteller with sharp editing skills.You cut faster, cleaner, and better than us, and bring fresh creative vision to every project.
          </p>
        </div>
      </div>

      <!-- Job 2 -->
      <div class="job-card">
        <div class="job-card__header">
          <h3 class="job-card__title">Motion Graphics Designer</h3>
        </div>
        <div class="job-card__content">
          <p class="job-card__description">
            A driven creative who’s eager to learn. You’ll gain hands-on experience in production while adding real value to our team.
          </p>
        </div>
      </div>

      <!-- Job 3 -->
      <div class="job-card">
        <div class="job-card__header">
          <h3 class="job-card__title">Creative Producer</h3>
        </div>
        <div class="job-card__content">
          <p class="job-card__description">
            A marketing mind with a passion for film.You know how to position our work where it matters, from YouTube campaigns to TV spots. With your media knowledge and strategy, our content doesn’t just look premium, it gets seen by the right audience.
          </p>
 <a href="/contact" class="plan-btn-orange margin-top-4">
      Contact for more information
      <svg width="20" height="20" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M37.4767 0L2.58325e-06 0L0 11.0225L18.7394 10.9453L0 29.5489L7.92775 37.4767L26.5335 18.7394L26.4541 37.4767H37.4767V0Z" fill="currentColor"/>
</svg>

    </a>
        </div>
      </div>
    </div>
  </div>
</section>
