.about-page {
  background-color: #1A1F25;
  color: #F3F3E9;      
}
.titel{
    font-family: 'MonumentExtendedUltraBold', sans-serif ;
}
.under-titel{
    font-weight: 300;
}
.small-text{
    font-weight: 200;
}

.about-page {
  background-color: #1A1F25;
}

.about-page h2 {
  font-family: 'MonumentExtended', sans-serif;
  color: #fff;
}

.about-page p {
  color: #ccc;
  line-height: 1.6;
}
