footer{
    background-color: #1A1F25;
    margin-top: auto;
}
.footer-line {
  border: none;
  border-top: 2px solid #fff; /* maak de lijn dikker (3px) en wit */
  opacity: 1; /* verwijdert Bootstrap’s transparantie */
}
/* Hover kleur voor de footer/menu links */
.list-unstyled li a:hover {
  color: #F5C252 !important; /* kies hier je gewenste hover-kleur */
  transition: color 0.3s ease !important; /* zachte overgang */
}

.list-unstyled li a {
  font-family: 'MonumentExtended', sans-serif;
  font-weight: 100;
}
.thinText{
  font-weight: 100;
}

.social-icons {
  display: flex;
  justify-content: center; /* horizontaal centreren op mobiel */
  gap: 0.5rem;            /* ruimte tussen iconen */
  margin-bottom: 0.5rem;  /* ruimte boven knop */
}

.social-icons a {
  font-size: 1.3rem;
  color: #fff;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #f5c252;          /* accentkleur op hover */
  transform: scale(1.2);   /* lichte vergroting op hover */
}

.small-text{
  font-size: smaller;
}
.footertitel{
  font-family: 'MonumentExtended', sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
}
.btn-thin{
  padding: 6px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'MonumentExtended', sans-serif;
  font-weight: 50;
  font-size: small;
}

.mb-footer{
  margin-bottom: 35px;
}

.textlinks{
  font-family: 'MonumentExtended', sans-serif;
  font-size: 1.2rem;
}

.company-info {
  display: flex;
  flex-direction: column; /* zet adres en knop netjes onder elkaar */
  align-items: flex-start; /* zorg dat ze links uitgelijnd zijn */
}
