body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: #1A1F25 !important;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.responsive-small-text {
  font-size: clamp(13px, 1.5vw, 15px);
}

@font-face {
  font-family: 'MonumentExtended';
  src: url('/fonts/MonumentExtended-Regular.otf') format('opentype');
  font-style: normal;
}
@font-face {
  font-family: 'MonumentExtendedUltraBold';
  src: url('/fonts/MonumentExtended-Ultrabold.otf') format('opentype');
  font-style: normal;
}


.accent-color {
  color: #F5C252 !important;
}

.btn-accent-color {
  background-color: #F5C252 !important;
  color: #fff !important;
}
.btn-accent-color:hover{
  background-color: #a58b52 !important;
  color: #fff !important;
}