.tape {
  position: absolute;
  top: -100px;
  right: 1000px;
  object-fit: contain;
  z-index: -1;
  pointer-events: none;
  transition: right 0.3s ease; /* optioneel, voor vloeiende beweging */
}

/* Laptop */
@media (max-width: 1600px) {
  .tape {
    right: 700px;
    height: 90vh;
  }
}

/* Tablet landscape */
@media (max-width: 1200px) {
  .tape {
    right: 400px;
    height: 80vh;
  }
}

/* Tablet portrait */
@media (max-width: 992px) {
  .tape {
    right: 200px;
    height: 70vh;
  }
}

/* Mobiel */
@media (max-width: 768px) {
  .tape {
    right: 50px;
    height: 60vh;
  }
}
