<section class="contact-page">
  <div class="container py-5">
    <h1 class="text-white titel mb-4">Let's connect</h1>
    <h4 class="text-white under-titel mb-0">
      <span class="accent-color">You communicate</span> we deliver
    </h4>
    <div class="row">
      <div class="col-12 col-md-6"> <!-- 100% mobiel, ±66% desktop, gecentreerd -->
        <p class="text-white small-text">
          Have a project in mind? Feel free to reach out and request your personalized quotation, we’re here to bring your vision to life.
        </p>
      </div>
    </div>
  </div>
</section>


<section class="contact-page py-5">
  <div class="container">

    <div class="row align-items-start g-5">
      <!-- Contact Form -->
      <div class="col-md-6">
        <h2 class="mb-4 text-white">Contact Us</h2>
<form id="contactForm">
  <div class="mb-3">
    <label for="company" class="form-label text-white">Bedrijf</label>
    <input type="text" class="form-control custom-input" id="company" name="company" placeholder="Vul je bedrijfsnaam in">
  </div>
  <div class="mb-3">
    <label for="name" class="form-label text-white">Naam</label>
    <input type="text" class="form-control custom-input" id="name" name="name" placeholder="Vul je naam in">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label text-white">Emailadres</label>
    <input type="email" class="form-control custom-input" id="email" name="email" placeholder="Vul je emailadres in">
  </div>
  <div class="mb-3">
    <label for="message" class="form-label text-white">Vraag</label>
    <textarea class="form-control custom-input" id="message" name="message" rows="4" placeholder="Typ je vraag hier"></textarea>
  </div>

  <div id="formMessage" class="text-white mb-3"></div> <!-- hier komt de feedback -->
  <button type="submit" class="btn btn-accent-color mt-2">Verstuur</button>
</form>

      </div>

      <!-- Google Maps -->
      <div class="col-md-6">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2504.115370375555!2d3.152146176947228!3d51.124779938582336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c34e083b1b2e4f%3A0x69c97105178cec5c!2sKaleshoek%209%2C%208210%20Zedelgem!5e0!3m2!1snl!2sbe!4v1756212108159!5m2!1snl!2sbe"
          width="100%"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>

  </div>
</section>

<section class="contact-page py-5 d-none d-md-block">
  <div class="container">
    <img src="/images/contact/contact.png" alt="BlanckMedia - contact" class="img-fluid w-100">
  </div>
</section>
