<section class="video-banner">
  <video autoplay muted loop playsinline>
    <source src="https://blanckmedia-videos.b-cdn.net/SiteHeader.mp4" type="video/mp4">
  </video>

  <div class="overlay">
    <div class="row">
      <div>
<h2 class="animate-left"><span class="accent-color">Your signature</span> storyteller</h2>
<h1 class="animate-left">Everything starts with a blanck frame</h1>
      </div>
    </div>
  </div>
</section>
<section class="main">
  <div class="container">
    <p class="text-white fs-5 pt-5 thin-text">
      We are a video production company specializing in creating high-quality visual content that captures attention and inspires action. From cinematic brand films to social content, we craft stories that elevate your brand. Alongside production, we offer tailored marketing advice to ensure your message reaches the right audience, in the right way.
    </p>
  </div>
<div class="container text-center py-5">
    <h3 class="bold-font">Our partners</h3>
  </div>
</section>