<section class="d-flex flex-column justify-content-center align-items-center text-center vh-100  position-relative overflow-hidden">
  <!-- De diagonale tape rechtsboven -->
  <img src="/images/UnderConstruction.png" alt="Under Construction" class="tape">

  <!-- Tekst -->
  <h1 class="bold-font bold big mb-3">BLANCKMEDIA</h1>
  <p class="mid thin-text mb-0">We are a video production company specialized in premium lifestyle.</p>
</section>
