<section class="video-banner">
  <video autoplay muted loop playsinline>
    <source src="https://blanckmedia-videos.b-cdn.net/SiteHeader.mp4" type="video/mp4">
  </video>

  <div class="overlay">
    <div class="row">
      <div>
        <h2><span class="accent-color">Your signature</span> storyteller</h2>
        <h1>Everything starts with a blanck frame</h1>
      </div>
    </div>
  </div>
</section>
