<section class="video-banner">
<video class="banner-video d-none d-md-block" autoplay muted loop playsinline poster="/images/banner/banner.jpg">
    <source src="https://blanckmedia-videos.b-cdn.net/SiteHeader.mp4" type="video/mp4">
  </video>

  <!-- STILL IMAGE (mobiel) -->
  <img class="banner-image d-block d-md-none" src="/images/banner/banner.png" alt="BlanckMedia banner">


  <div class="overlay">
    <div class="row">
      <div>
        <h2 class="animate-left">Your signature storyteller</h2>
        <h1 class="animate-left">Everything starts with a blanck frame</h1>
      </div>
    </div>
  </div>
</section>

<section class="main">
  <div class="pt-5"></div>
 <div class="container text-center pt-0 pt-md-5">
    <h3 class="bold-font">BlanckMedia</h3>
  </div>
  <div class="container">
    <p class="text-white text-center fs-5 thin-text">
      We are a <span class="accent-color bold">video production company</span> specializing in creating <span class="accent-color bold">high-quality visual content</span> that captures attention and inspires action. From cinematic brand films to social content, we craft stories that elevate your brand. Alongside production, we offer tailored marketing advice to ensure your message reaches the right audience, in the right way.
    </p>
    <p class="bold-font text-center fs-7">cinematic, storytelling, dynamic, visuals</p>
  </div>
</section>

<section class="partners">
  <div class="container text-center pt-2 pt-md-5  pb-4">
    <h3 class="bold-font">Our partners</h3>
  </div>

  <div class=" pb-3">
    <div class="logo-slider">
      <div class="slide-track">
        <div class="slide"><img src="/images/partners/logo1.png" alt="Partner 1"></div>
        <div class="slide"><img src="/images/partners/logo2.png" alt="Partner 2"></div>
        <div class="slide"><img src="/images/partners/logo3.png" alt="Partner 3"></div>
        <div class="slide"><img src="/images/partners/logo4.png" alt="Partner 4"></div>
        <div class="slide"><img src="/images/partners/logo5.png" alt="Partner 5"></div>
        <div class="slide"><img src="/images/partners/logo6.png" alt="Partner 6"></div>
        <div class="slide"><img src="/images/partners/logo7.png" alt="Partner 7"></div>
        <div class="slide"><img src="/images/partners/logo8.png" alt="Partner 8"></div>
        <div class="slide"><img src="/images/partners/logo9.png" alt="Partner 9"></div>

        <div class="slide"><img src="/images/partners/logo1.png" alt="Partner 1"></div>
        <div class="slide"><img src="/images/partners/logo2.png" alt="Partner 2"></div>
        <div class="slide"><img src="/images/partners/logo3.png" alt="Partner 3"></div>
        <div class="slide"><img src="/images/partners/logo4.png" alt="Partner 4"></div>
        <div class="slide"><img src="/images/partners/logo5.png" alt="Partner 5"></div>
        <div class="slide"><img src="/images/partners/logo6.png" alt="Partner 6"></div>
        <div class="slide"><img src="/images/partners/logo7.png" alt="Partner 7"></div>
        <div class="slide"><img src="/images/partners/logo8.png" alt="Partner 8"></div>
        <div class="slide"><img src="/images/partners/logo9.png" alt="Partner 9"></div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="pt-2"></div>
  <div class="container">
    <div class="row mb-3 g-3">
      <div class="col-md-6 position-relative">
        <img src="/images/thumbnails/GymSixteen.png" class="img-fluid w-100" alt="GYMSIXTEEN">
      </div>
      <div class="col-md-6 position-relative">
        <img src="/images/thumbnails/DiyAtelier.png" class="img-fluid w-100" alt="DIY ATELIER">
      </div>
    </div>
  </div>
</section>
